<!DOCTYPE html>
<html lang="en", xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/generationPageStyle.css">
</head>
<body>

<div th:if="${personList}">
    <table border="1">
        <thead>
        <tr>
            <th th:text="#{label.firstName}"></th>
            <th th:text="#{label.lastName}"></th>
            <th th:text="#{label.bd}"></th>
            <th th:text="#{label.email}"></th>
            <th th:text="#{label.address}"></th>
            <th th:text="#{label.country}"></th>
            <th th:text="#{label.university}"></th>
            <th th:text="#{label.phone}"></th>
            <th th:text="#{label.gender}"></th>
            <th th:text="#{label.job}"></th>
            <th th:text="#{label.company}"></th>
            <th th:text="#{label.pet}"></th>
            <th th:text="#{label.transport}"></th>
            <th th:text="#{label.favCoffee}"></th>
            <th th:text="#{label.favBook}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${personList}">
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${#dates.format(user.bd, 'yyyy-MM-dd')}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.address}"></td>
            <td th:text="${user.country}"></td>
            <td th:text="${user.university}"></td>
            <td th:text="${user.phoneNumber}"></td>
            <td th:text="${user.gender}"></td>
            <td th:text="${user.job}"></td>
            <td th:text="${user.company}"></td>
            <td th:text="${user.pet}"></td>
            <td th:text="${user.transport}"></td>
            <td th:text="${user.favCoffee}"></td>
            <td th:text="${user.favBook}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>